

# Do not include the virtual environment
venv/

# Do not include __pycache__
__pycache__/

# Do not include data
data/

# Do not include 
scratch.*
scratch/

# Do not include checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints
