

# Do not include the virtual environment, from any directory
venv/
heroku-env/
*CF-venv/

# Do not include __pycache__ from any directory
__pycache__/
*__pycache__/

# Do not include data
data/

# Do not include the config folder - Google Cloud service account json secret
config/

# Do not include scratch files or folders in any directory
scratch.*
scratch/
*scratch/

# Do not include checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# Anything else?
